In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import scipy.interpolate as si

In [2]:
trs = pd.read_csv("data/transactions.csv")

In [3]:
trs['date'] = pd.to_datetime(trs['date'])

In [4]:
trs

        account_id       date  amount
0                0 2020-10-16   200.0
1                0 2020-10-16  -192.0
2                0 2020-10-16   200.0
3                0 2020-10-16   -24.0
4                0 2020-10-16   -50.0
...            ...        ...     ...
518224        1253 2020-10-25   -11.5
518225        1253 2020-10-26    -1.2
518226        1253 2020-10-31   -15.0
518227        1253 2020-11-03   -15.6
518228        1253 2020-11-14   -13.0

[518229 rows x 3 columns]

In [5]:
trs_per_acc = trs.groupby('account_id')

In [7]:
trs_per_acc_1248 = trs_per_acc.get_group(1248)

In [8]:
trs_per_acc_1248_neg = trs_per_acc_1248[trs_per_acc_1248['amount'] < 0]

In [11]:
trs_per_acc_1248_neg.tail(20)

        account_id       date  amount
515586        1248 2021-06-22  -24.00
515587        1248 2021-06-23 -105.00
515588        1248 2021-06-24 -144.00
515589        1248 2021-06-24  -24.16
515590        1248 2021-06-24  -10.00
515592        1248 2021-06-25  -20.43
515593        1248 2021-06-25   -0.50
515594        1248 2021-06-25  -76.18
515596        1248 2021-06-26  -15.30
515597        1248 2021-06-26  -13.70
515598        1248 2021-06-26  -15.00
515599        1248 2021-06-26   -5.10
515601        1248 2021-06-27   -9.60
515602        1248 2021-06-27   -5.99
515604        1248 2021-06-27  -41.58
515607        1248 2021-06-28 -125.00
515609        1248 2021-06-28  -40.08
515612        1248 2021-06-29   -9.99
515617        1248 2021-07-01  -15.99
515622        1248 2021-07-01   -5.99

In [12]:
dates = []
amounts = []
for i, row in trs_per_acc_1248_neg.iterrows(): 
    date_i = row['date']
    a_i = float(row['amount'])
    
    dates.append(date_i)
    amounts.append(a_i)

In [13]:
df_inter = pd.DataFrame(amounts, index=dates, columns=['conc'])

In [23]:
df_inter.tail(50)

               conc
2021-06-10   -50.00
2021-06-11   -23.00
2021-06-13 -1282.95
2021-06-13    -8.46
2021-06-14   -10.00
2021-06-14    -8.90
2021-06-14   -12.20
2021-06-14    -9.00
2021-06-14   -43.58
2021-06-15   -78.00
2021-06-15   -28.22
2021-06-15   -30.77
2021-06-16   -57.65
2021-06-16   -26.00
2021-06-16   -35.99
2021-06-18   -30.00
2021-06-18   -15.00
2021-06-18   -54.99
2021-06-18   -51.20
2021-06-19   -62.18
2021-06-19   -31.00
2021-06-19    -7.90
2021-06-19   -22.00
2021-06-19    -8.17
2021-06-20   -55.00
2021-06-21   -16.00
2021-06-21   -35.47
2021-06-21   -16.00
2021-06-22    -0.50
2021-06-22   -28.49
2021-06-22   -24.00
2021-06-23  -105.00
2021-06-24  -144.00
2021-06-24   -24.16
2021-06-24   -10.00
2021-06-25   -20.43
2021-06-25    -0.50
2021-06-25   -76.18
2021-06-26   -15.30
2021-06-26   -13.70
2021-06-26   -15.00
2021-06-26    -5.10
2021-06-27    -9.60
2021-06-27    -5.99
2021-06-27   -41.58
2021-06-28  -125.00
2021-06-28   -40.08
2021-06-29    -9.99
2021-07-01   -15.99
2021-07-01    -5.99

In [24]:
f = si.interp1d(pd.to_numeric(df_inter.index), df_inter.conc)
f(pd.to_numeric(pd.to_datetime(['2018-08-14'])))

array([-32.105])

In [20]:
f(pd.to_numeric(pd.to_datetime(['2018-01-07'])))

array([-13.29676471])

In [17]:
f(pd.to_numeric(pd.to_datetime(['2021-06-29'])))

array([-9.99])

In [18]:
year_2017 = pd.Interval(pd.Timestamp('2017-01-01 00:00:00'),
                        pd.Timestamp('2018-01-01 00:00:00'),
                        closed='left')

year_2017.length
pd.Timedelta('365 days 00:00:00')

Timedelta('365 days 00:00:00')

In [19]:
year_2017

Interval('2017-01-01', '2018-01-01', closed='left')